html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("/src/img/Ciudad-Gotica.jpg"); 
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
    
}
#contenedor{

width: 100%;

display: flex;
justify-content: center;

}
.cronometro{
    width: 90%;
    margin:auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.719);
    margin-top: 30px;
    font-weight: 300;
    font-size: 60px;
}

#area-de-juego{
     
    max-width:700px;
    background-position: center;
    padding-top: 25px;
    gap : 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
   
    
}

#boton-iniciar{
   margin-top: 30px;   
   cursor: pointer;   
   color: cornsilk;
   width: 200px;
   height:80px;
   border: 5px solid rgb(74, 25, 187);
   border-radius: 15px;
   background-color: rgb(22, 11, 27);
   font-size: 20px;
   font-family: 'Black Ops One', cursive; 
}
#boton-iniciar:hover{
  
    transition: 0.3s;
    
    background-color: rgb(255, 196, 0);
    color: rgb(8, 8, 37);
}

.dorsales-casilleros, .frontales-casilleros{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.opciones-de-juego{
    
    width: 30%;
    text-align: center;
    color:rgb(255, 251, 22);
    
    background-color: rgba(0, 0, 0, 0);
}
.opciones-de-juego p {
    padding: 5px;
  
    
    font-family: 'Stalinist One', cursive;
}

.deshabilitar-click{
    pointer-events:none
}
.frontales-casilleros{
  
    background-color: cornsilk;
    background-size: contain;
    background-repeat: no-repeat;
   
    transform: rotateY(180deg);
}
.casilleros{
      
      background-image: url("./src/img/parte-trasera-carta.png");
      background-size: contain;
      background-color: rgb(26, 25, 25);
      transform-style: preserve-3d;
      transition: .7s ease;
      background-repeat: no-repeat;
      background-position: center;
      width: 120px;
      height: 160px;
}
 
.rotate{
    transform: rotateY(180deg);
}

@media (max-width: 1200px){
 .cronometro{
   font-size: 50px;
  }

}

@media (max-width: 1000px){
    #contenedor{
      display:block;
    }
    .opciones-de-juego,#area-de-juego{
    width: 90%;
    margin: auto;  
   }


}
@media (max-width:720px){
  .casilleros{
    width: 105px;
    height: 140px;
  }
}
@media (max-width:480px){
  #boton-iniciar{
    margin-top: 0px;
    height: 50px; 
  }
  .casilleros{
    width: 75px;
    height: 100px;
  }
  .cronometro{
    margin-top: 30px;
    font-weight: 300;
    font-size: 40px;
    }
  }
@media (max-width:360px){
  .casilleros{
    width: 48px;
    height: 64px;
  }
 }